// 明亮模式的主色系（藍綠色系）
$primary: #00838f;
$secondary: #26a69a;
$accent: #80deea;

$dark: #1d1d1d;
$dark-page: #121212;

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;

$light-bg: #ffffff;
$light-text: #2c3e50;
:root {
    --q-color-success: red;
    --q-color-error: yellow;
}
